.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px auto;
}

.slider img {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.slider button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.slider button:hover{
    background-color: #3b7abe;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons>button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.buttons>button:hover {
    background-color: #3b7abe;
}